Floating point UnixTimestamp parsing error

When a UnixTimestamp, such as the `exp` claim, is a floating point number, parsing fails with an error like

```
invalid type: floating point `1617757825`, expected Unix timestamp at line 1 column 212
```

However, [RFC 7519, section 2](https://tools.ietf.org/html/rfc7519#section-2), NumericDate, does not restrict the timestamps to integer values. Floating point numbers should therefore be handled.